<!-- app/views/registration/new.html.erb -->


<h1 class=''> Sign up Page </h1>

<%= form_with model: @user, local: true, data: { turbo: false }, url: sign_up_path do |form| %>

    <% if @user.errors.any? %>
        <div class="alert alert-danger">
        <% @user.errors.full_messages.each do |message|%>
        <div class='m-5'>
        <%= message %> <% end %>
        </div>
        </div>
    <% end %>
   
    <div class="mb-3 ">
    
 <%= form.label :email, "Email Address" %>
   
    
 <%= form.text_field :email, class: "", placeholder: "myname@email.com" %>
    
       
       
    </div>
    <div class="mb-3 ">
        <%= form.label :password, "Password" %> 
        <%= form.password_field :password,  class: "form-control", placeholder: "strong password"%>
    </div>
    <div>
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, required: true %>
  </div>
    <div class="mb-3">
        <%= form.submit "Sign Up", class: 'btn btn-primary' %>
    </div>
    <%= link_to "Sign In", log_in_path, class: "btn btn-primary" %>

<% end %>
 

 
